
.main_section1 {
  padding-top: 5%;
  // padding-left: 15%;
  padding-bottom: 5%;

  .title {
    font-size: 50px;
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 65px;
    margin-bottom: 7%;
  }

  .title2 {
    font-family: "Montserrat";
    color: white;
    font-size: 30px;
    line-height: 60px;
    font-weight: 500;
  }

  .getTouchBtn {
    background-color: white;
    font-family: "Montserrat";
    font-size: 20px;
    line-height: 24.38px;
    font-weight: 500;
    border-radius: 5px;
    color: black;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }

  .image_section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 4rem;

    .image {
      width: 371px;
      height: 371px;
      background-color: white;
    }
  }
}

.main_section2 {
  // padding: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;

  .left_side {
    text-align: left;

    p {
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 600;
      line-height: 65px;
      letter-spacing: 0em;
      // text-align: left;
    }

    .contactBtn {
      background-color: rgba(0, 102, 73, 1);
      color: white;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }
  }

  .right_side {
    .section {
      display: flex;
      align-items: center;
      gap: 6%;
      text-align: left;
    }
    .heading {
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 500;
      line-height: 65px;
      letter-spacing: 0em;
      // text-align: left;
      //   border-bottom: 1px solid rgba(198, 198, 198, 1);
      padding-bottom: 3%;
    }
    .heading::after {
      content: "";
      border: 1px solid rgba(198, 198, 198, 1);
      display: block;
      width: 50%;
    }
    .descrption {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0em;
      // text-align: left;
    }
  }
}

.main_section3 {
  padding-top: 5%;
  padding-bottom: 5%;
  .title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2%;
  }

  // .card_section{
  //   display: flex;
  //   align-items: center;
  // }

  .btnSection {
    text-align: center;
    .viewAllBtn {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      background-color: rgba(0, 102, 73, 1);
      padding: 10px 32px 10px 32px;
      border-radius: 4px;
      color: white;
    }
  }

  // .card_size {
  //   max-width: 30%;
  //   margin-bottom: 3%;
  //   .image_section {
  //     max-height: 225px;
  //     overflow: hidden;
  //     img {
  //       width: 100%;
  //       object-fit: cover;
  //     }
  //   }
  // }

  // .card_section {
  //   margin-bottom: 3%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   flex-wrap: wrap;

  //   .card_description {
  //     padding: 5%;
  //     h3 {
  //       font-family: Montserrat;
  //       font-size: 20px;
  //       font-weight: 700;
  //       line-height: 65px;
  //       letter-spacing: 0em;
  //       text-align: left;
  //       margin: 0;
  //     }

  //     p {
  //       font-family: Montserrat;
  //       font-size: 18px;
  //       font-weight: 400;
  //       line-height: 30px;
  //       letter-spacing: 0em;
  //       text-align: left;
  //     }

  //     a {
  //       font-family: Montserrat;
  //       font-size: 14px;
  //       font-weight: 500;
  //       line-height: 30px;
  //       letter-spacing: 0em;
  //       text-align: left;
  //       color: black;
  //       text-decoration: none;
  //       svg {
  //         width: 20px;
  //         height: 20px;
  //       }
  //     }
  //   }
  // }
}

.card_size {
  max-width: 30%;
  margin-bottom: 3%;
  .image_section {
    max-height: 225px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.card_section {
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .card_description {
    padding: 5%;
    h3 {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      line-height: 65px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0;
    }

    p {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }

    a {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: black;
      text-decoration: none;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.main_section4 {
  padding-top: 5%;
  padding-bottom: 5%;
  .title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
  }
  .card_size {
    max-width: 30%;
    margin-bottom: 3%;
    img {
      width: 100%;
    }
  }

  .card_section {
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .card_description {
      padding: 7%;
      h3 {
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 5%;
      }

      p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }

      a {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;

        color: black;
        text-decoration: none;
      }
      .date {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: rgb(146 147 151);
        margin-bottom: 2%;
      }
    }
  }

  .start_section {
    background-color: rgba(0, 102, 73, 1);
    text-align: center;
    padding: 5%;
    margin: 2%;

    p {
      font-family: Poppins;
      font-size: 36px;
      font-weight: 500;
      line-height: 54px;
      letter-spacing: 0px;
      text-align: center;
      color: white;
      margin-bottom: 4%;
    }
    .startBtn {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      padding: 10px 32px 10px 32px;
      border-radius: 4px;
      color: black;
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

.main_section5 {
  display: flex;
  // justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 5%;

  .leftSide {
    .title {
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: white;
      margin-bottom: 8%;
    }

    .nameSection {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 6%;
      gap: 10%;

      .name {
        h1 {
          font-family: Montserrat;
          font-size: 22px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          color: white;
        }
        p {
          font-family: Montserrat;
          font-size: 22px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          color: white;
        }
      }

      .image_section {
        span {
          display: inline-block;
          border-radius: 50%;
          padding: 7px;
          background: white;
          box-shadow: 0 0 3px rgb(255, 255, 255);
          height: 110px;
          width: 110px;
          text-align: center;
        }
      }
    }
  }

  .rightSide {
    background-color: white;
    padding: 5%;
    .sendBtn {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: black;
      background-color: rgba(228, 220, 9, 1);
      padding: 15px 32px 15px 32px;
      border-radius: 30px;
      margin: 2%;
    }

    .form-control {
      padding: 1rem 1rem;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

.main_section6 {
  padding-top: 3%;
  padding-bottom: 3%;

  .title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
  }

  .icon {
    display: inline-block;
    border-radius: 50%;
    padding: 7px;
    background: lightgray;
    box-shadow: 0 0 3px rgb(255, 255, 255);
    height: 48px;
    width: 48px;
    text-align: center;
  }

  .description {
    .heading {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      line-height: 65px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(64, 64, 64, 1);
    }
    .details {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(64, 64, 64, 1);
      padding-right: 15%;
    }
  }
}

.gallery_section {
  text-align: center;
  margin-bottom: 3%;
  .title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 2%;
  }
}

.main_section7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
  }
  .detailSection {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    margin: 8%;
    .coma {
      font-family: Montserrat;
      font-size: 126px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: center;
      color: rgba(234, 234, 216, 1);
    }
    .description {
      p {
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
      }
      h4 {
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }
      h6 {
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  .image_gallery {
    margin-bottom: 5%;
  }
}
